body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Josefin Sans';
    background: #EAEAEA;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Josefin Sans';
    background-color: #2a2a2a;
    color: linear-gradient(#4C99BF, #5CB8B3, #74FF71);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 50px;
}

nav a {
    display: inline-block;
    width: 100px;
    height: 100px;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    transition: 0.3s;
}

nav a.active {
    transform: scale(1.5);
}
nav a:nth-child(1) {
    background-color: #E6A9F0;
}
nav a:nth-child(2) {
    background-color: #4C99BF;
}
nav a:nth-child(3) {
    background-color: #74FF71;
}
nav a:nth-child(4) {
    background-color: #FDE674;
}

section {
  visibility: hidden;
}

section.active {
    width: 1000px;
    height: 400px;
    background: white;
    opacity: 0.5;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 1);
    text-decoration: none;
    border-radius: 30%;
    text-align: center;
    line-height: 100px;
    transition: 0.3s;
    visibility: visible;   
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2a2a2a;
    color: white;
    text-align: center;
}

.gradient-text {
    font-size: 44px;
    background: linear-gradient(to right, #E6A9F0, #4C99BF, #5CB8B3, #74FF71, #FDE674);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline;
}
